<section class="container">
  <h2 class="section-title">
    About <span class="section-title-extra"><span>Us</span></span>
  </h2>
  <p class="section-description">
    We are dedicated to providing engaging and effective English language courses in a supportive and stimulating
    learning environment
  </p>
  <div class="about-us-content">
    <ol class="about-us-list">
      <li class="about-us-item">
        <h3 class="about-us-item-title">Expert, innovative teaching staff</h3>
      </li>
      <li class="about-us-item">
        <h3 class="about-us-item-title">Wide range of course levels and options</h3>
      </li>
      <li class="about-us-item">
        <h3 class="about-us-item-title">Multicultural learning environment</h3>
      </li>
      <li class="about-us-item">
        <h3 class="about-us-item-title">Comprehensive language support services</h3>
      </li>
    </ol>
    <div class="about-us-cta">
      <img
        srcset="/images/memoji.png 1x, /images/memoji@2x.png 2x"
        src="/images/memoji.png"
        alt="A woman making the 'number one' gesture"
        class="about-us-cta-image"
      />
    </div>
  </div>
</section>
