<section class="container" id="about">
  <h2 class="section-title wow fadeInDownTitle" data-wow-offset="10">About <span class="section-title-extra">Us</span>
  </h2>
  <p class="section-description wow fadeInDownText" data-wow-offset="10">
    We are dedicated to providing engaging and effective English language courses in a supportive and stimulating
    learning environment
  </p>
  <div class="about-us-content">
    <ol class="about-us-list">
      <li class="about-us-item wow fadeInDownItems">
        <h3 class="about-us-item-title">Expert, innovative teaching staff</h3>
      </li>
      <li class="about-us-item wow fadeInDownItems" data-wow-delay=".75s" data-wow-offset="10">
        <h3 class="about-us-item-title">Wide range of course levels and options</h3>
      </li>
      <li class="about-us-item wow fadeInDownItems" data-wow-delay=".9s" data-wow-offset="10">
        <h3 class="about-us-item-title">Multicultural learning environment</h3>
      </li>
      <li class="about-us-item wow fadeInDownItems" data-wow-delay="1.1s" data-wow-offset="10">
        <h3 class="about-us-item-title">Comprehensive language support services</h3>
      </li>
    </ol>
    <div class="about-us-cta wow fadeInDownItems" data-wow-delay="1.2s" data-wow-offset="10">
      <picture>
        <source srcset="/images/about/avif/memoji_1x.avif 1x, /images/about/avif/memoji_2x.avif 2x" type="image/avif" />
        <source srcset="/images/about/webp/memoji_1x.webp 1x, /images/about/webp/memoji_2x.webp 2x" type="image/webp" />
        <source srcset="images/about/memoji_1x.png 1x, images/about/memoji_2x.png 2x" type="image/img" />
        <img class="about-us-cta-image" src="images/about/memoji_1x.png " alt="A woman making the 'number one' gesture"
          width="255" height="172" loading="lazy" />
      </picture>
    </div>
  </div>
</section>