<section class="hero-section">
  <div class="container">
    <h1 class="hero-title wow fadeInDownBlur" data-wow-offset="10">Discover the joy of learning <span
        class="hero-title-span">English</span> with us!</h1>
    <picture class="visually-hidden">
      <source srcset="./images/hero/avif/mob_block_1x.avif 1x, ./images/hero/avif/mob_block_2x.avif 2x"
      type="image/avif" />
      <source srcset="./images/hero/webp/mob_block_1x.webp 1x, ./images/hero/webp/mob_block_2x.webp 2x"
      type="image/webp" />
      <source srcset="./images/hero/mob_block_1x.jpg 1x, ./images/hero/mob_block_2x.jpg 2x"
      type="image/img" />
    </picture>
    <a class="hero-button wow fadeInLeft" href="#application">Leave an application</a>
    <a class="hero-scroll-button wow fadeInRight" data-wow-offset="10" href="#footer">
      <svg class="icon-arrow">
        <use href="./images/icons.svg#icon-arrow" />
      </svg>
    </a>
  </div>
</section>