<section class="proposal-section">
  <div class="container">
    <div class="proposal-container">
      <h2 class="proposal-title">
        Master the <span class="language-span-decoration">Language</span> with Our English Package!
      </h2>
      <div class="proposal-bg-bottom-card"></div>
      <div class="proposal-bg-mid-card"></div>
      <div class="proposal-wrapper">
      <div class="proposal-main-card-container">
        <div class="proposal-left-container">
          <h3 class="proposal-small-title">Power of English</h3>
          <ul class="proposal-features-list">
            <li>Dive into captivating lessons designed to stimulate your curiosity.</li>
            <li>Learn in a nurturing setting where every student's progress matters.</li>
            <li>Experience the satisfaction of real progress as your language skills and confidence grow with every session.</li>
          </ul>
          <button class="proposal-main-btn" onClick="document.getElementById('application').scrollIntoView();" aria-label="Leave an application">
            Leave an application
          </button>
        </div>
        <div class="proposal-right-container">
          <picture class="proposal-features-img">
            <source srcset="/images/proposal/avif/books_1x.avif 1x, /images/proposal/avif/books_2x.avif 2x"
            type="image/avif" />
            <source srcset="/images/proposal/webp/books_1x.webp 1x, /images/proposal/webp/books_2x.webp 2x"
            type="image/webp" />
            <source srcset="/images/proposal/books_1x.jpg 1x, /images/proposal/books_2x.jpg 2x"
            type="image/img" />
            <img class="proposal-features-img" src="/images/proposal/books_1x.jpg" alt="Stack of books" width="214"
            height="263" loading="lazy" />
          </picture>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
