<section class="proposal-section">
  <div class="container">
    <div class="proposal-container">
      <h2 class="proposal-title">
        Master the <span class="language-span-decoration">Language</span> with Our English Package!
      </h2>
      <div class="proposal-bg-bottom-card"></div>
      <div class="proposal-bg-mid-card"></div>
      <div class="proposal-main-card-container">
        <div class="proposal-left-container">
          <h3 class="proposal-small-title">Power of English</h3>
          <ul class="proposal-features-list">
            <li>Dive into captivating lessons designed to stimulate your curiosity.</li>
            <li>Learn in a nurturing setting where every student's progress matters.</li>
            <li>Experience the satisfaction of real progress as your language skills and confidence grow with every session.</li>
          </ul>
          <button class="proposal-main-btn" onClick="document.getElementById('application').scrollIntoView();">
            Leave an application
          </button>
        </div>
        <div class="proposal-right-container">
          <img
            srcset="/images/proposal/books_1x.png 1x, /images/proposal/books_2x.png 2x"
            src="/images/proposal/books_1x.png"
            alt="Stack of books"
            class="proposal-features-img"
          />
        </div>
      </div>
    </div>
  </div>
</section>
