<section class="reviews-section" id="reviews">
  <div class="container">
    <h2 class="section-title wow fadeInDownTitle">
      What our <span class="section-title-extra">students</span> say
    </h2>
    <p class="section-description wow fadeInDownText">Hear from our students about their learning journey with us, as
      they
      share their
      experiences, progress, and the
      transformative impact</p>
    <div class="reviewer-swiper swiper">
      <ul class="list reviews-list swiper-wrapper">
        <li class="reviews-items swiper-slide">
          <div class="reviewer-wrap">
            <picture class="reviewer-img-wrap">
              <source srcset="/images/reviews/avif/student_1_1x.avif 1x, /images/reviews/avif/student_1_2x.avif 2x"
                type="image/avif" />
              <source srcset="/images/reviews/webp/student_1_1x.webp 1x, /images/reviews/webp/student_1_2x.webp 2x"
                type="image/webp" />
              <source srcset="/images/reviews/student_1_1x.jpg 1x, /images/reviews/student_1_2x.jpg 2x"
                type="image/img" />
              <img class="student_avatar" src="/images/reviews/student_1_1x.jpg" alt="student Anna" width="50"
                height="50" loading="lazy" />
            </picture>
            <div class="reviewer-txt-wrap">
              <h3 class="reviewer-name">Anna</h3>
              <p class="reviewer-status">Student</p>
            </div>
          </div>
          <p class="reviews-text">
            My experience at the language school has been nothing short of
            amazing. The teachers are dedicated and the learning environment is
            stimulating. I feel more confident in my English skills.
          </p>
        </li>
        <li class="reviews-items swiper-slide">
          <div class="reviewer-wrap">
            <picture class="reviewer-img-wrap">
              <source srcset="/images/reviews/avif/student_2_1x.avif 1x, /images/reviews/avif/student_2_2x.avif 2x"
                type="image/avif" />
              <source srcset="/images/reviews/webp/student_2_1x.webp 1x, /images/reviews/webp/student_2_2x.webp 2x"
                type="image/webp" />
              <source srcset="/images/reviews/student_2_1x.jpg 1x, /images/reviews/student_2_2x.jpg 2x"
                type="image/img" />
              <img class="student_avatar" src="/images/reviews/student_2_1x.jpg" alt="student Mykhailo" width="50"
                height="50" loading="lazy" />
            </picture>
            <div class="reviewer-txt-wrap">
              <h3 class="reviewer-name">Mykhailo</h3>
              <p class="reviewer-status">Student</p>
            </div>
          </div>
          <p class="reviews-text">
            The school offers a great balance of language theory and practical
            exercises. The personalized feedback from the teachers has helped me
            improve my weak areas.
          </p>
        </li>
        <li class="reviews-items swiper-slide">
          <div class="reviewer-wrap">
            <picture class="reviewer-img-wrap">
              <source srcset="/images/reviews/avif/student_3_1x.avif 1x, /images/reviews/avif/student_3_2x.avif 2x"
                type="image/avif" />
              <source srcset="/images/reviews/webp/student_3_1x.webp 1x, /images/reviews/webp/student_3_2x.webp 2x"
                type="image/webp" />
              <source srcset="/images/reviews/student_3_1x.jpg 1x, /images/reviews/student_3_2x.jpg 2x"
                type="image/img" />
              <img class="student_avatar" src="/images/reviews/student_3_1x.jpg" alt="student Victoria" width="50"
                height="50" loading="lazy" />
            </picture>
            <div class="reviewer-txt-wrap">
              <h3 class="reviewer-name">Victoria</h3>
              <p class="reviewer-status">Student</p>
            </div>
          </div>
          <p class="reviews-text">
            I love the dynamic and interactive teaching methods used here. It's
            a great place to learn English in a fun and effective way. I have
            definitely seen a big improvement in my language skills.
          </p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>