<section class="teachers-section" id="teachers">
  <div class="container tch-container">
    <div class="tch-text">
      <h2 class="tch-header">Meet our teachers</h2>
      <p class="tch-desc">
        Discover our team of dedicated educators, committed to guiding you on your journey to English proficiency with
        personalized and engaging instruction
      </p>
    </div>
    <ul class="tch-list">
      <li class="tch-card">
        <img
          class="tch-img"
          srcset="./images/teachers/tch1.png 1x, ./images/teachers/tch1@2.png 2x"
          src="./images/teachers/tch1.png"
          alt="Teacher Maria"
          width="150"
          height="150"
        />
        <div class="card-info">
          <p class="tch-card-title">Maria</p>
          <p class="tch-card-desc">
            A seasoned linguist and our primary specialist in beginner-level instruction, Maria brings warmth and
            patience to every class
          </p>
        </div>
      </li>
      <li class="tch-card">
        <img
          class="tch-img"
          srcset="./images/teachers/tch2.png 1x, ./images/teachers/tch2@2.png 2x"
          src="./images/teachers/tch2.png"
          alt="Teacher Maria"
          width="150"
          height="150"
        />
        <div class="card-info">
          <p class="tch-card-title">Artem</p>
          <p class="tch-card-desc">
            With his innovative teaching techniques and a focus on interactive learning, Artem excels in keeping
            students engaged and motivated
          </p>
        </div>
      </li>
      <li class="tch-card">
        <img
          class="tch-img"
          srcset="./images/teachers/tch3.png 1x, ./images/teachers/tch3@2.png 2x"
          src="./images/teachers/tch3.png"
          alt="Teacher Maria"
          width="150"
          height="150"
        />
        <div class="card-info">
          <p class="tch-card-title">Ilona</p>
          <p class="tch-card-desc">
            A specialist in advanced English, Ilona provides intensive instruction, ensuring students gain confidence in
            complex language tasks
          </p>
        </div>
      </li>
      <li class="tch-card">
        <img
          class="tch-img"
          srcset="./images/teachers/tch4.png 1x, ./images/teachers/tch4@2.png 2x"
          src="./images/teachers/tch4.png"
          alt="Teacher Maria"
          width="150"
          height="150"
        />
        <div class="card-info">
          <p class="tch-card-title">Volodymyr</p>
          <p class="tch-card-desc">
            Our expert in English for specific purposes, Volodymyr tailors his approach to meet individual career and
            industry-specific language needs
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
