/* footer styles */
.footer-container {
    background-color: var(--heading-color);
    text-align: start;
    padding: 64px 128px 23px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-logo-address {
    margin-bottom: 40px;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 32px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--secondary-color);
}
.footer-logo-span {
    color: var(--substrate-color);
}

.footer-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-contacts-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.footer-contacts-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
    font-style: normal;
    color: var(--footer-color);
}
.footer-contacts-link {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    color: var(--secondary-color);
    font-style: normal;
}

.footer-nav-list {
    display: flex;
    margin-bottom: 64px;
    flex-direction: column;
    gap: 20px;
}
.footer-nav-item {
    position: relative;
}
.footer-nav-link {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    color: var(--secondary-color);
}

.footer-social {
    position: relative;
    margin-bottom: 40px;
}
.footer-social-list {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
}
.footer-social-item {
    width: 40px;
    height: 40px;
}
.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1); /* var(--footer-border-color); */
}
.footer-social-icon {
    opacity: 0.8;
    fill: #ffffff; /* var(--footer-social-color); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container .footer-legal::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1); /* var(--footer-border-color); */
  }

.footer-text-wrapper {
    display: flex;
    margin-top: 23px;
    justify-content: space-between;
}
.footer-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.018em;
    color: var(--footer-color);
}
.footer-legal-wrapper {
    display: flex;
    text-align: right;
    gap: 18px;
}
