/* footer styles */
footer {
    background-color: var(--heading-color);
    padding: 40px 0px 0px;
}
footer .container {
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
    row-gap: 40px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
.footer-address, .footer-menu, .footer-social {
    margin: 0;
}
.footer-address {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-logo {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--secondary-color);
}
.footer-logo-span {
    color: var(--substrate-color);
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-contacts-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.footer-contacts-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
    font-style: normal;
    color: var(--footer-color);
}
.footer-contacts-link {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    color: var(--secondary-color);
    font-style: normal;
}

.footer-menu {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.footer-menu-item {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    
}
.footer-menu-link {
    position: relative;
    color: var(--secondary-color);
}

.footer-menu-link::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 37px;
    background-color: var(--substrate-color);
    opacity: 0;

    transition: opacity 250ms ease-in-out;
}

.footer-menu-link:hover::after, 
.footer-menu-link:focus::after {
    opacity: 1;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
}
.footer-social-item {
    width: 40px;
    height: 40px;
}
.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1); /* var(--footer-border-color); */
}
.footer-social-icon {
    opacity: 0.8;
    fill: #ffffff; /* var(--footer-social-color); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    border-top: 1px solid rgba(255, 255, 255, 0.1); /* var(--footer-border-color); */
    padding-top: 20px;
    padding-bottom: 20px;
}
.copyright-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.018em;
    color: var(--footer-color);
}
.copyright-legal{
    display: flex;  
    gap: 18px;
}
.copyright-legal-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.018em;
    color: var(--footer-color);
}