:root {
  --primary-font: 'Manrope', sans-serif;
  --heading-font: 'Manrope', sans-serif;
  --primary-color: rgba(18, 20, 23, 0.5);
  --heading-color: #121417;
  --secondary-color: #fff;
  --button-foreground: #fff;
  --button-background: #4dc274;
  --substrate-color: #4dc274;
  --border-color: #4dc274;
  --link-color: #4dc274;
  --active-color: #38ae5f;
  --primary-accent-color: #bee8cc;
  --secondary-accent-color: #d4fde1;
  --overlay-color: rgba(18, 20, 23, 0.4);
  --primary-bg-color: linear-gradient(80deg, #4dc274 0%, #bee8cc 100%);
  --secondary-bg-color: #f3f5f6;
  --text-color: rgba(255, 255, 255, 0.5);
  --secondary-text-color: rgba(255, 255, 255, 0.7);
  --footer-color: rgba(255, 255, 255, 0.6);
  --form-border: rgba(18, 20, 23, 0.10);
  --radio-border: rgba(18, 20, 23, 0.20);
  --social-overlay-border: rgba(255, 255, 255, 0.1);
  --social-header-border: rgba(18, 20, 23, 0.1);
  --social-header-border-active: rgba(77, 194, 116, 0.1);
  --swiper-navigation-size: 24px;
  --swiper-theme-color: var(--border-color);
  --swiper-navigation-sides-offset: 3px;
}